/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
    margin: 0;
    padding: 0;

    --main-screen-color: #c9e9c5;
    --main-small-left-rotation: -8deg;
    --main-small-right-rotation: 8deg;
}

button, p {
    font-size: 0.84em;
}

@keyframes left-shake {
    10%,
    90% {
        transform: rotate(var(--main-small-left-rotation)) translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: rotate(var(--main-small-left-rotation)) translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: rotate(var(--main-small-left-rotation)) translate3d(-3px, 0, 0);
    }

    40%,
    60% {
        transform: rotate(var(--main-small-left-rotation)) translate3d(4px, 0, 0);
    }
}

@keyframes right-shake {
    10%,
    90% {
        transform: rotate(var(--main-small-right-rotation)) translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: rotate(var(--main-small-right-rotation)) translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: rotate(var(--main-small-right-rotation)) translate3d(-3px, 0, 0);
    }

    40%,
    60% {
        transform: rotate(var(--main-small-right-rotation)) translate3d(4px, 0, 0);
    }
}